{{ form_start(addUserForm, {'method': 'POST', 'attr': {'id': 'add_user_form'}}) }}

    <div class="form-group">
        <label for="name_user">{{ form_label(addUserForm.name_user) }}</label>
        {{ form_widget(addUserForm.name_user, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        <label for="roles_user">{{ form_label(addUserForm.roles_user) }}</label>
        {{ form_widget(addUserForm.roles_user, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group button-submit">
        <a href="javascript:void(0);" id="cancelAddUser" class="cancel-action">Annuler</a>
        {{ form_widget(addUserForm.add, {'label': 'Ajouter', 'attr': {
            'data-target': path('addUser', {'name_organization': organization.name})
        }}) }}
    </div>

{{ form_end(addUserForm) }}