{% extends 'base.html.twig' %}

{% block title %}Test Dunforce{% endblock %}

{% block body %}
    <div class="container-fluid pl-0 pr-0">
          <h1>Test Dunforce</h1>
    </div>

    <div class="container">
        <div class="button-addorga">
            <a href="javascript:void(0);" data-toggle="modal" data-target="#addOrga">
                Ajouter une organisation
            </a>
        </div>

        <!-- Display the errors messages of the submitting form -->
        {% for messagesErrors in app.flashes('Error') %}
            {% for key, message in messagesErrors %}
                <div class="error-form">
                    <span class="invalid-feedback" role="alert">
                        <i class="fas fa-exclamation-circle"></i>
                        <strong>{{ key|replace({'[': "", ']': ""}) }} - {{ message }}</strong>
                    </span>
                    
                </div>
            {% endfor %}
        {% endfor %}

        <!-- Table of the organizations -->
        <table>
            {% for list_organizations in organizations %}
                {% for organization in list_organizations %}
                    <tr id="{{ organization.name }}">
                        <td id="orgaName">{{ organization.name }}</td>
                        <td id="orgaDescription">{{ organization.description }}</td>
                        <td>
                            <div class="link_modification">
                                <a title="Edit the organization" href="javascript:void(0);" id="editOrganization" class="editOrga" 
                                data-target="{{ path('editOrganizationModal', {'name_organization': organization.name}) }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a title="List of users" href="javascript:void(0);" id="usersOrganization" 
                                data-target="{{ path('addUserModal', {'name_organization': organization.name}) }}" 
                                data-listusers="{{ path('listUserModal', {'name_organization': organization.name}) }}" 
                                data-toggle="modal" data-target="#usersOrga">
                                    <i class="fas fa-users"></i>
                                </a>
                                <a title="Delete the organization" href="{{ path('deleteOrganization', {'name_organization': organization.name}) }}" id="deleteOrga" onclick="return confirm('Are you sure?');">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>

    <!-- Modal Form Add Orga-->
    <div class="modal fade step-modal" id="addOrga" tabindex="-1" role="dialog" aria-labelledby="addOrgaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addOrgaLabel">Ajouter une organisation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(addOrganizationForm, {'action': path('addOrganization'), 'method': 'POST'}) }}

                        <div class="form-group">
                            <label for="name_organization">{{ form_label(addOrganizationForm.name_organization) }}</label>
                            {{ form_widget(addOrganizationForm.name_organization, {'attr': {'class': 'form-control'}}) }}
                        </div>

                         <div class="form-group">
                            <label for="description_organization">{{ form_label(addOrganizationForm.description_organization) }}</label>
                            {{ form_widget(addOrganizationForm.description_organization, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group button-submit">
                            {{ form_widget(addOrganizationForm.add, {'label': 'Ajouter' }) }}
                        </div>
                       
                    {{ form_end(addOrganizationForm) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Form Edit Orga-->
    <div class="modal fade step-modal" id="editOrga" tabindex="-1" role="dialog" aria-labelledby="editOrgaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editOrgaLabel">Modifier une organisation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>
                <div id="modalBodyEdit" class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal list Users + Form Add User per Organization -->
    <div class="modal fade step-modal" id="usersOrga" tabindex="0" role="dialog" aria-labelledby="usersOrgaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-users" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="usersOrgaLabel">Gestion des Utilisateurs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>
                <div class="modal-body">

                    <div class="errors-ajax" style="display: none;">
                        <span class="invalid-feedback errors-ajax-invalid-feedback" role="alert"></span>
                    </div>

                    <div id="formAddUser" class="form-adduser">
                    </div>

                    <div id="listUserOrga" class="list-usersorga">
                       <div class="user-form">
                            <strong id="titleUserOrganization"></strong>
                            <div class="user-addorga">
                                <!-- Button to display the Form to Add an user on the organization -->
                                <a href="javascript:void(0);" id="addUserFormDisplayed">
                                    Ajouter un utilisateur
                                </a>
                            </div>
                        </div>
                        <div id="oneUser" class="oneuser-orga"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Form Edit Users -->
    <div class="modal fade step-modal" id="editUsersOrganization" tabindex="1" role="dialog" aria-labelledby="editUsersOrganizationLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-users" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUsersOrganizationLabel">Modifier un utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                </div>
                <div id="editUserForm" class="modal-body"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset ('js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('js/yamlModal.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('js/yamlHandleAjax.js') }}"></script>
{% endblock %}
